body {
    box-sizing: border-box;
    margin: 0;
}

.panels {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.panels > div {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    flex: 1;
}

.panel1 {
    background-image: url(./images/1.jpg);
}
.panel2 {
    background-image: url(./images/2.jpg);
}
.panel3 {
    background-image: url(./images/3.jpg);
}
.panel4 {
    background-image: url(./images/4.jpg);
}
.panel5 {
    background-image: url(./images/5.jpg);
}