body {
    box-sizing: border-box;
    margin: 0;
}

.panels {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.panel {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    flex: 1 0 auto;
    margin: 0;
}

.panel1 {
    background-image: url(./images/1.jpg);
}
.panel2 {
    background-image: url(./images/2.jpg);
}
.panel3 {
    background-image: url(./images/3.jpg);
}
.panel4 {
    background-image: url(./images/4.jpg);
}
.panel5 {
    background-image: url(./images/5.jpg);
}

.panel.open {
    font-size: 40px;
    flex: 5;
}

.panel p:nth-child(2) {
    font-size: 400%;
}